@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {  
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

section.notice {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;  
}

.content  {
    border-top: 1px solid #ddd;
    margin-top: 80px;
}

.content li.row {
    display: flex;
    align-items: center;
}

.content li.top {
    display: flex;
    align-items: flex-start;
}

.content > ul > li {
    border-bottom: 1px solid #ddd;
    padding: 16px 0px;
}

.content > ul > li:last-child {
    padding: 16px 0px;
}

.content .label {
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

.content .input {
    width: calc(100% - 200px);
    text-align: left;
}

.in_title, .in_content, .input_file {
    width: 100%;
    border: 1px solid #DDDDDD;
}

.in_title {
    max-width: 500px;
    height: 30px;
}

.file_lst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.file_lst label {
    color: #0004FF;
}

.del_file {
    color: #333333;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    margin-right: 16px;
}

.del_file:hover {
    color: red;
    transition: all 0.3s;
}

.button_box div {  
    margin: 20px 0px 60px 0px;    
    text-align: center;  
}

.button_box button.write {    
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    background-color: #333333;
    border: 1px solid #555;
    border-radius: 5px;    
    cursor: pointer;
    color:#ffffff;
}

.button_box button.cancle {    
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;    
    cursor: pointer;
    color:#555;
}

.input_file {
    width: 100%;
    max-width: 600px;
}

@media screen and (max-width: 1380px) {
    section.notice {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {
    .input_file {
        width: 100%;
    }
    
}


@media screen and (max-width: 600px) {
    .content li.row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .content li.top {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .content .label {
        width: 200px;
        text-align: left;
        margin-bottom: 16px;
    }

    .content .input {
        width: 100%;
    }

    
    .del_file {
        color: #333333;
        text-align: right;
        text-decoration: none;
        font-size: 16px;
        margin-right: 0px;
    }
}

