/* sub2-2 시작 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.search_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

ul.search_container li.search {
    width: 644px;
}

ul.search_container li.search .search_div {
    position: relative;
}

ul.search_container li.search .search_div span {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #333;
    font-size: 24px;
    font-weight: 100;
}

ul.search_container li.search .search_div input[type="text"] {
    width: 644px;
    height: 54px;
    border: 1px solid #00A38B;
    border-radius: 27px;
    padding: 0 34px;
    box-sizing: border-box;
    font-size: 16px;
}

ul.search_container li.search .search_div input:focus {
    border-color: #00A38B;
    border: 2px solid #00A38B;
    outline: none;
}


body {
    font-family: "Noto Sans KR", sans-serif;
}

header {
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #00A38B;
}

footer {
    height: 70px;
    border-top: 1px solid #00A38B;
    margin-top: 150px;
}

.contents1,
.contents2 {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}



.title1 {
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 700;
}

.subtitle1 {
    margin-top: 16px;
    font-size: 20px;
    color: #555555;
}

.contents2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    max-width: 1320px;
    margin-top: 54px;
}

.contents1 {
    text-align: center;
}


.park-list {
    width: 100%;
    max-width: 645px;
    /* height: 750px; */
    border-top: 1px solid black;
}

.map {
    flex: 1;
    background-color: white;
    max-width: 645px;
    margin-top: 98px;
    box-sizing: border-box;
}

.left-content {
    flex: 1;
    flex-direction: column;
    background-color: white;
    max-width: 645px;
    margin-top: 98px;
    box-sizing: border-box;
}


.park-list {
    background-color: white;
}


.map .root_daum_roughmap {
    width: 100% !important;
}

.park-place {
    padding: 25px 15px;
    border-bottom: 1px solid #DDDDDD;
}

.location {
    display: inline-block;
    color: #00a884;
    border-color: #00a884;
    border-width: thin;
    border-style: solid;
    background-color: white;
    border-radius: 12px;
    padding: 5px;
    font-size: 14px;
    width: 66px;
    line-height: 12px;
    text-align: center;
}

.location,
.parkname {
    display: inline-block;
}

.parkname {
    font-size: 18px;
    color: #333;
    display: inline-block;
}

p {
    font-size: 16px;
    color: #666;
}

.parkname,
.detail2, .detail1 {
    font-weight: 600;
}
.detail3{
    font-weight: 500;
}

.detail1, .detail3,
.detail2 {
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}
.detail{
    padding: 0 0 0 78px;
}

.content2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
    max-width: 1320px;
    margin-top: 54px;
}

.content2>div {
    width: calc(50% - 16px);
}

.map .root_daum_roughmap {
    width: 100% !important;
}
.page {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.page-link {
    display: inline-block;
    margin: 0 1px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.page-link.active {
    border: 1px solid #333;
}

.page-link:hover { 
    border: 1px solid #333;
    transition: all 0.3s;
}

@media screen and (max-width: 1380px) {

    .contents1,
    .contents2 {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-top: 34px;
    }

    .park-list {
        width: 100%;
        max-width: 100%;
    }
    .content2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 30px;
        align-items: flex-start;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .search_container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .map .root_daum_roughmap {
        width: 100%;
        max-width: 100%;
    }

    .content2 {
        flex-direction: row-reverse;
        width: 100%;
    }

    .content2>div {
        width: 100%;
        max-width: 100%;
    }

    .map {
        width: 100%;
        max-width: 100%;
        margin-right: 16px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
    }
    .page-link {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border: 1px solid #ddd;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .title1 {
        margin-top: 30px;
    }

    ul {
        font-size: 13px;
    }

    .location {
        font-size: 13px;
    }

    .h3 {
        font-size: 15px;
    }

    .detail1,
    .detail2, .detail3 {
        font-size: 14px;
    }

    .content2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .content2>div {
        width: 100%;
        margin-top: 10px;
    }

    .map,
    .left-content {
        flex: none;
        width: 100%;
        box-sizing: border-box;
    }

    .search_container {
        width: 100%;
    }

    ul.search_container li.search .search_div input[type="text"] {
        width: 100%;
    }
}


@media screen and (max-width: 480px) {
    .park-list {
        font-size: 12px;
    }

    .location {
        font-size: 14px;
    }

    .parkname {
        font-size: 16px;
    }

    .detail1,
    .detail2, .detail3 {
        font-size: 12px;
        line-height: 20px;
    }

    .content2 {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .map,
    .left-content {
        flex: none;
        width: 100%;
    }

}

/* sub2-2 끝 */
