/* sub1-2 시작 */




@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


.search_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
ul.search_container li.search {
    width: 644px;
}
ul.search_container li.search .search_div {
    position: relative;
}
ul.search_container li.search .search_div span {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #333;
    font-size: 24px;
    font-weight: 100;
}
ul.search_container li.search .search_div input[type="text"] {
    width: 644px;
    height: 54px;
    border: 1px solid #00A38B;
    border-radius: 27px;
    padding: 0 34px;
    box-sizing: border-box;
    font-size: 16px;
}
ul.search_container li.search .search_div input:focus {
    border-color:#00A38B;
    border: 2px solid #00A38B;
    outline: none;
}


body {
    font-family: "Noto Sans KR", sans-serif;
}
header {
    height: 70px;
    background-color: #fff; 
    border-bottom: 1px solid #00A38B;
}

footer {
    height: 70px;
    border-top: 1px solid #00A38B;
    margin-top: 150px;
}

.contents1, .contents2 {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.title1 {
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 700;
}

.subtitle1 {
    margin-top: 16px;
    font-size: 20px;
    color: #555555;
}


.contents2 {
    flex-direction: column-reverse; /* 세로로 배치 */
    margin-top: 54px;
    width: 100%;
    max-width: 1320px;
}

.contents1 {
    text-align: center;
}

/* .regions {
    display: flex;
    list-style-type: none;
    margin: 55px auto 100px auto;
    width: 1300px;

}

.region {
    width: 121px;
    border-collapse: collapse;
    font-size: 16px;
    border-bottom: 1px solid #555;
    text-align: center;

} */
    
.park-list {
    width: 100%;
    max-width: 645px;
    height: 720px;
    border-top: 1px solid black;
    margin-top: 95px;
    overflow-y: scroll;
}

.map {
    background-color: #e0e0e0;
    max-width: 645px;
    margin-top: 98px;
}


.map .root_daum_roughmap {
    width: 100% !important;
}

.park-place {
    background: #f5f5f5;
    padding: 25px 15px;
    border-bottom: 1px solid #DDDDDD;
}

.location {
    display: inline-block;
    background-color: #00a884;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
.location, .parkname{
    display: inline-block;
}
.parkname {
    font-size: 18px;
    color: #333;
    display: inline-block;
}

p {
    font-size: 16px;
    color: #666;
}

.page {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.page-link {
     border: 1px solid #555;
    display: inline-block;
    padding: 8px 16px;
    margin: 0 2px;
    border-radius: 5px;

}

.parkname, .detail2 {
    font-weight: 500;
}

.detail1 {
    font-weight: 400;
    margin-top: 10px;
}
.detail2 {
    margin-top: 10px;
}

.detail1, .detail2 {
    font-size: 16px;
    line-height: 26px;
}

.content2 {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content2 > div {
    width: calc(50% - 16px);
}

.map .root_daum_roughmap {
    width: 100% !important;
}



@media screen and (max-width: 1380px){
    .contents1, .contents2 {
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-top: 34px;
    }
    .park-list{
        width: 100%;
        max-width: 100%;
    }
}


@media screen and (max-width: 1000px){
.search_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.map .root_daum_roughmap {
    width: 100%;
    max-width: 100%;
}

    .content2{
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .content2 > div {
        width: 100%;
        max-width: 100%;
    }
    .map{
        width: 100%;
        max-width: 100%;
    }
}


@media screen and (max-width: 768px){
    .title1{
        margin-top: 30px;
    }
    ul{
        font-size: 13px;
    }
    .location{
        font-size: 13px;
    }
    .h3{
        font-size: 15px;
    }
    .detail1, .detail2{
        font-size: 14px;
    }
    .content2{
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .content2 > div {
        width: 100%;
        margin-top: 10px;
    }

    .search_container{
        width: 100%;
    }

    ul.search_container li.search .search_div input[type="text"] {
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .park-list{
        font-size: 12px;
    }
    .location{
        font-size: 14px;
    }
    .parkname{
        font-size: 16px;
    }
    .detail1, .detail2{
        font-size: 12px;
        line-height: 20px;
    }
    .content2{
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
}
/* sub1-2 끝 */
