/* sub1-2 시작 */




@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
}
header {
    height: 70px;
    background-color: #fff; 
    border-bottom: 1px solid #00A38B;
}

footer {
    height: 70px;
    border-top: 1px solid #00A38B;
    margin-top: 150px;
}

.contents1, .contents2 {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.title1 {
    font-size: 40px;
    margin: 0 auto;
    color: black;
    font-weight: 700;
}

.subtitle1 {
    margin-top: 16px;
    font-size: 20px;
    color: #555555;
}
.search-container{
    width: 70%;
    margin: 35px auto auto auto;
    display: flex;

}
.search-button{
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    height: 54px;
}

.search_input {
    margin-top: 39px;
    border-radius: 45px;
    width: 620px;
    height: 54px;
    font-size: 16px;
}

.contents2 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse; /* 세로로 배치 */
    margin-top: 54px;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.contents1 {
    text-align: center;
}

.park-map-container {
    display: flex;
}
.regions {
    display: flex;
    list-style-type: none;
    margin: 55px auto 100px auto;
    width: 1300px;

}

.region {
    width: 121px;
    border-collapse: collapse;
    font-size: 16px;
    border-bottom: 1px solid #555;
    text-align: center;

}
    
.park-list {
    width: 100%;
    max-width: 645px;
    height: 720px;
    border-top: 1px solid black;
    margin-top: 95px;
    overflow-y: scroll;
}

.map {
    flex: 1;
    background-color: #e0e0e0;
    height: 720px;
    max-width: 645px;
    margin-top: 98px;
    margin-left: 30px;
}


.map .root_daum_roughmap {
    width: 100% !important;
}

.park-place {
    background: #f5f5f5;
    padding: 25px 15px;
    border-bottom: 1px solid #DDDDDD;
}

.location {
    display: inline-block;
    background-color: #00a884;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
.location, .parkname{
    display: inline-block;
}
.parkname {
    font-size: 18px;
    color: #333;
    display: inline-block;
}

p {
    font-size: 16px;
    color: #666;
}

.page {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.page-link {
     border: 1px solid #555;
    display: inline-block;
    padding: 8px 16px;
    margin: 0 2px;
    border-radius: 5px;

}

.parkname, .detail2 {
    font-weight: 500;
}

.detail1 {
    font-weight: 400;
    margin-top: 10px;
}
.detail2 {
    margin-top: 10px;
}

.detail1, .detail2 {
    font-size: 16px;
    line-height: 26px;
}

.content2 {
    width: 100%;
    max-width: 1320px;
    display: flex;
}

.content2 > div {
    width: calc(50% - 16px);
}

.map .root_daum_roughmap {
    width: 100% !important;
}



@media screen and (max-width: 1380px){
    .contents1, .contents2 {
        width: 90%;
        align-items: center;
        justify-content: center;
        
    }
}


@media screen and (max-width: 1000px){

    
    .location{
        font-size: 14px;
    }
    .h3{
        font-size: 16px;
    }
    .detail1, .detail2{
        font-size: 16px;
    }


}


@media screen and (max-width: 768px){
    ul{
        font-size: 13px;
    }
    .location{
        font-size: 13px;
    }
    .h3{
        font-size: 15px;
    }
    .detail1, .detail2{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px){
    ul{
        font-size: 12px;
    }
    .content2{
        flex-direction: column-reverse;
        width: 90%;
    }
    .location{
        font-size: 16px;
    }
    .parkname{
        font-size: 14px;
    }
    .detail1, .detail2{
        font-size: 12px;
        line-height: 20px;
    }
    .content2 > div {
        width: 90%;
    }
}
/* sub1-2 끝 */
