<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- MyBatis가 해당 값의 타입을 명시적으로 알지 못하면 null 취급하게 된다. -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="cacheEnabled" value="false" />
    </settings>
    
    <!-- Type Alias 설정 -->
    <typeAliases>
        <!-- SearchTreeAdVO 클래스의 별칭 설정 -->
        <typeAlias type="com.ict.edu.finalroadsearchvo.FinalRoadSearchVO" alias="finalroadsearchvo" />
    </typeAliases>

    <!-- 매퍼 파일 설정 -->
    <mappers>
        <!-- 공원 관련 매퍼 파일 -->
        <mapper resource="mappers/finalroadsearch_mapper.xml" />
    </mappers>
</configuration>