@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

section.customer {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}


div.search-text {
    text-align: left;
    font-size: 16px;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 20px;
}

.list {  
    margin-top: 40px;
    border-top: 2px solid #000;
    list-style-type: none;
    padding: 0px;
}

.list_header, .list_row {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.list_header {
    background-color: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.list_row {
    font-size: 16px;    
}

.item {    
    align-items:center;   
    padding: 0 10px;     
}


.t_num {  
    text-align: center;
    width:100px;
}

.t_tit {      
    flex: 1;
    text-align: center;
}

.t_stt {    
    text-align: center;
    width:100px;
}

.t_dt {   
    text-align: center;
    width:100px;
}

.l_num {   
    display:flex;
    align-items: center;
    justify-content:center; 
    width:100px;
}

.l_tit {   
    display:flex;
    align-items: center;
    flex: 1;
    text-align: left;    
}

.l_stt {    
    display:flex;
    align-items: center;
    justify-content:center; 
    width:100px;
}

.l_dt {   
    display:flex;
    align-items: center;
    justify-content:center; 
    width:100px;
}


.status {
    border-radius: 13px;
    color: rgb(85, 85, 85);
    font-size: 12px;
    width: 74px;
    height: 26px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
}

.pending {
    color: #555555;
    border: 1px solid #555;
}

.completed {
    color: #09BA00;
    border: 1px solid #09BA00;
}


.button_box div {  
    margin: 20px 0px 60px 0px;    
    text-align: right;  
}

.button_box button {    
    width: 100px;
    height: 36px;
    background-color: #ffffff;
    border: 1px solid #555;
    border-radius: 4px;    
    cursor: pointer;
}


/* paging_number */
.paging_num_ul {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.paging_num_ul li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    color: #555;
    margin: 0 5px;
    cursor: pointer;
}

.paging_num_ul li.prev,
.paging_num_ul li.next {
    padding: 0;
}

.paging_num_ul li:hover {
    border: 1px solid #111;
    color: #111;
}

.paging_num_ul li.active {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #111;
}
/* paging_number */


@media screen and (max-width: 1380px) {
    section.customer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    
    /* paging_number */
    .paging_num_ul {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .paging_num_ul li {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .paging_num_ul li.active {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    /* paging_number */
}

@media screen and (max-width: 480px) {
    /* paging_number */
    .paging_num_ul {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .paging_num_ul li {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }

    .paging_num_ul li.active {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }
    /* paging_number */
}


@media screen and (max-width: 420px) {
    
}
