@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {  
    font-family: "Noto Sans KR", sans-serif;
    box-sizing: border-box;
}

section.customer {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;  
}


.customer p.title {
    margin: 12px 0;
    font-size: 40px;
    color: #111111;
    font-weight: 500;
}

.customer a {
    text-decoration: none;
}

.customer div.subtitle {
    font-size: 20px;
    margin: 16px 0 30px;   
    color:#555555;
}

.content  {
    margin-top: 20px;
    border-top: 2px solid #000;
}

.content h2.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.tt ul li {
    margin-bottom: 30px;
}

.tt ul li span.title {
    color: #333333;
    font-weight: 500;
    margin-right: 16px;
}

.tt ul li span.cont {
    color: #555555;
}



.content ul {
    justify-content: space-between; 
}

.content > ul > li {       
    border-bottom: 1px solid #ddd;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content div.bodyCont{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tt ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.tt ul li{
    width: auto;
    padding: 0 30px 0 0;
    border-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
}

.comment {
    padding: 0px 0px 0px 0px;   
}

.comment div ul li{
    padding: 10px 10px 10px 10px;
}


.comment span.user_icon{
    padding: 0px 10px 0px 10px;   
}

.comment span.user_id{
    margin-right: 20px;   
}

.comment button.user_wt{
    padding: 2px 10px 2px 10px;   
    background-color: #ffffff;
    border: 1px solid #00A38B;
    border-radius: 4px;  
    color: #00A38B; 
}

.comment span.cmd_ctt{
    color:#333333;
    margin-left: 40px;
}

.comment span.cmd_ctt1{
    margin-left: 40px;
    color: #00A38B;
}
.comment span.cmd_dt{
    margin-left: 40px;
    padding: 0px 0px 0px 0px;   
    color:#AAAAAA;
}

.comment a.cmd_re{
    padding: 10px 10px 10px 10px;   
    color:#AAAAAA;
    text-decoration: none;

}


.tt1 {
    width: auto;
    padding: 0 20px 0 0;
    border-bottom: 1px solid #ddd;
}

.tt1 span del{
    width: auto;
    padding-right: 100px;
    border-bottom: 0;
}


.comment ul li {  
    padding: 10px 10px 10px 10px;    
    
}

.comment div.cmd_write{
    padding-left: 10px; 
    border: 1px solid #ddd;
    border-radius: 4px; 
}

.cmd_write table{    
    width: 100%;
}

.cmd_write textarea {
    border:none;
    width: 98%;
}

.cmd_write textarea:focus {
    outline: none; 
}



.cmd_write button {
    padding: 6px 16px 6px 16px;
    background-color: #ffffff;
    border: 1px solid #00A38B;
    border-radius: 4px;    
    cursor: pointer;
    color: #00A38B;
}



.cmd_write .cmd_btn{
    text-align: right;
    margin-right: 20px;
    
}


.button_box {  
    margin: 20px 0px 60px 0px;   
    display: flex;
    justify-content:space-between;    
}

.button_box .btn_l{
    text-align: left; 
}

.button_box button {    
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    border-radius: 5px;    
    cursor: pointer;
}

.button_box button:hover {
    border: 1px solid #00A38B;
    color: #00A38B;
    transition: all 0.3s;
}




@media screen and (max-width: 1380px) {
    section.customer {
        width: 90%;
    }
}


@media screen and (max-width: 768px) {
    .content div.bodyCont img {
        width: 100%;
    }

    .content h2.title {
        margin-top: 24px;
        margin-bottom: 16px;
        font-size: 28px;
    }

    .tt ul li{
        padding: 0 20px 0 0;
        font-size: 16px;
        margin-bottom: 12px;
    }

    .tt ul li:last-child {
        margin-bottom: 24px;
    }
    
    .tt ul li span.title {
        margin-right: 12px;
    }

    .button_box button {    
        width: 80px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .content h2.title {
        margin-top: 20px;
        margin-bottom: 16px;
        font-size: 28px;
    }

    .tt ul li:last-child {
        margin-bottom: 20px;
    }

    .tt ul {
        display: flex;
        flex-direction: column;
    }

    .tt ul li {
        margin-bottom: 10px;
    }

    .button_box button {    
        width: 70px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
}


@media screen and (max-width: 420px) {
    .content span.title{
        font-size: 14px;
        font-weight: 50px;
    }

    .content span.cont {
        font-size: 14px;
        margin-right: 50px;
        font-weight: 50px;
    }

    .content h2.title {
        font-size: 24px;
    }
}
